# Model artifacts
*.pth filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text

# Dataset binaries
data/public/**/*.jpg filter=lfs diff=lfs merge=lfs -text
data/public/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
data/public/**/*.png filter=lfs diff=lfs merge=lfs -text
data/private/**/*.jpg filter=lfs diff=lfs merge=lfs -text
data/private/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
data/private/**/*.png filter=lfs diff=lfs merge=lfs -text
